   


	server 
	{
		listen 8000
		
		root /Users/ridrissi/Desktop/site
		error_pages 12 34 45
		server_name	aaa aaaa wwww


		 root /Users/ridrissi/Desktop/site1
		 root /Users/ridrissi/Desktop/site2

		

		


		location abc 
		{   		
		 
			root /Users/ridrissi/Desktop/siteaaaa 
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd2 ee2e fff2 gg2g hhh1

			return 564 aaaa

			alias	kjcakjcnakn

			autoindex onl 

			limit_except POST GET DELETE }





	}
	server 
	{
		listen 8001
		
		root /Users/ridrissi/Desktop/site
		error_pages 12 34 45
		server_name	aaa aaaa wwww


		 root /Users/ridrissi/Desktop/site1
		 root /Users/ridrissi/Desktop/site2

		

		


		location abc 
		{   		
		 
			root /Users/ridrissi/Desktop/siteaaaa 
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd2 ee2e fff2 gg2g hhh1

			return 564 aaaa

			alias	kjcakjcnakn

			autoindex onl 

			limit_except POST GET DELETE }





	}
      
	server 
	{
		listen 8002
		
		root /Users/ridrissi/Desktop/site
		error_pages 12 34 45
		server_name	aaa aaaa wwww


		 root /Users/ridrissi/Desktop/site1
		 root /Users/ridrissi/Desktop/site2

		

		


		location abc 
		{   		
		 
			root /Users/ridrissi/Desktop/siteaaaa 
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd2 ee2e fff2 gg2g hhh1

			return 564 aaaa

			alias	kjcakjcnakn

			autoindex onl 

			limit_except POST GET DELETE }





	}
      
	

