   



	server 
	{
		listen 8086
		
		root /Users/iouardi/Desktop/webserv
		error_pages 12 34 45
		server_name	axxx
		

		max_body_size 10
			 
		location /Dir
		{
			autoindex off
			index index.html
			limit_except GET POST DELETE
			alias /Users/iouardi/Desktop/webserv/upload
		}

		location /Response/
		{
			autoindex on
		}

	}
	server 
	{
		listen 8088
		
		root /Users/iouardi/Desktop/webserv
		error_pages 12 34 45
		server_name	axxx


		 root /Users/iouardi/Desktop/webserv
		 root /Users/iouardi/Desktop/webserv

		

		


		location /
		{   		
		 
			root /Users/iouardi/Desktop/webserv

			autoindex on

			limit_except POST GET DELETE }





	}
	server 
	{
		listen 8087
		
		root /Users/iouardi/Desktop/webserv
		error_pages 12 34 45
		server_name	axxx


		 root /Users/het-tale/cursus/42_webser
		 root /Users/het-tale/cursus/42_webser

		

		


		location /
		{   		
		 
			root /Users/iouardi/Desktop/webserv
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd2 ee2e fff2 gg2g hhh1

			return 564 /aaaa

			alias	kjcakjcnakn

			autoindex on

			limit_except POST GET DELETE }





	}

server 
	{
		listen 8089
		
		root /Users/iouardi/Desktop/webserv
		error_pages 12 34 45
		server_name	axxx



		location /
		{   		
		 
			root /Users/iouardi/Desktop/webserv/
			


			autoindex on

			
		}
		
		location /Response/
		{
			root /Users/iouardi/Desktop/webserv
			autoindex on
		}

	}
