   



	server 
	{
		listen 8086
		
		root /Users/het-tale/cursus/42_webserv
		error_pages 12 34 45
		server_name	axxx


		 root /Users/het-tale/cursus/42_webser
		 root /Users/het-tale/cursus/42_webser

		

		


		location /
		{   		
		 
			root /Users/het-tale/cursus/42_webservaaa
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd2 ee2e fff2 gg2g hhh1

			return 564 aaaa

			alias	kjcakjcnakn

			autoindex onl 

			limit_except POST GET DELETE }
			location /aaaa
			{
				root /Users/het-tale/cursus/42_webserv
				autoindex on
			}



	}
	server 
	{
		listen 8088
		
		root /Users/het-tale/cursus/42_webserv
		error_pages 12 34 45
		server_name	axxx


		 root /Users/het-tale/cursus/42_webserv
		 root /Users/het-tale/cursus/42_webserv

		

		


		location /
		{   		
		 
			root /Users/het-tale/cursus/42_webserv

			autoindex on

			limit_except POST GET DELETE }





	}
	server 
	{
		listen 8087
		
		root /Users/het-tale/cursus/42_webserv
		error_pages 12 34 45
		server_name	axxx


		 root /Users/het-tale/cursus/42_webser
		 root /Users/het-tale/cursus/42_webser

		

		


		location /
		{   		
		 
			root /Users/het-tale/cursus/42_webserv
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd eee fff ggg hhh
			index ddd2 ee2e fff2 gg2g hhh1

			return 564 aaaa

			
			alias	kjcakjcnakn

			autoindex onl 

			limit_except POST GET DELETE }

location /aaaa
			{
				root /Users/het-tale/cursus/42_webserv
			}



	}
