server 
	{
		listen 8088
		
		root  /Users/iouardi/Desktop/LAST_web
		server_name	axxx
		error_pages 500 /Users/iouardi/Desktop/LAST_web/error_pages/500.html
		error_pages 501 /Users/iouardi/Desktop/LAST_web/error_pages/501.html
		error_pages 502 /Users/iouardi/Desktop/LAST_web/error_pages/502.html
		error_pages 403 /Users/iouardi/Desktop/LAST_web/error_pages/403.html
		error_pages 404 /Users/iouardi/Desktop/LAST_web/error_pages/404_2.html
		error_pages 404 /Users/iouardi/Desktop/LAST_web/error_pages/404_1.html
		error_pages 405 /Users/iouardi/Desktop/LAST_web/error_pages/405.html


		
		location /Dir/
		{
			autoindex off
			index index.php
			limit_except POST PUT
		}

		location /Response/
		{
			index index.php
			autoindex on
		}

	}